<p>
<% options = canned_response_options_for_select %>
  <% if options.present? and User.current.allowed_to?(:use_canned_responses, @project) %>
    <%= label_tag :canned_response, l(:label_insert_canned_response) %>
    <% url = url_for(:controller => 'canned_responses', :action => 'insert',
                     :project_id => nil, :id => ':id') %>
    <% js = <<EOF
if ($('#canned_response').attr('value'))
  $.ajax({ url: '#{url}'.replace(':id', $('#canned_response').attr('value')), type: 'get',
           success: function(data) {
             $('#issue_#{issue.new_record? ? 'description' : 'notes'}').html(data);
           }
         });
EOF
%>
    <%= select_tag :canned_response, ("<option></option>" + options).html_safe,
        :onchange => js %>
<% end %>

<% if User.current.allowed_to? :manage_canned_responses, @project %>
  <br/>
  <%= link_to l(:label_manage_canned_responses),
      url_to_canned_responses_settings_tab %>
<% end %>
</p>
