<% if User.current.allowed_to? :manage_canned_responses, @project %>
<div class="contextual">
  <%= link_to l(:label_manage_canned_responses),
      url_to_canned_responses_settings_tab %>
</div>
<% end %>

<% options = canned_response_options_for_select %>
<% unless options.blank? %>
  <% if User.current.allowed_to? :use_canned_responses, @project %>
    <p>
    <%= label_tag :canned_response, l(:label_insert_canned_response) %>
    <% url = url_for(:controller => 'canned_responses', :action => 'insert') %>
    <% js = <<EOF
if ($('#canned_response').attr('value'))
  $.ajax({ url: '#{url}?id=' + $('#canned_response').attr('value'), type: 'get',
           success: function(data) {
             $('#notes').html(data);
           }
         });
EOF
%>
    <%= select_tag :canned_response, ("<option></option>" + options).html_safe,
        :onchange => js %>
    </p>
    <hr/>
  <% end %>
<% end %>
